[Unit]
Description=Client Linux Service
After=network.target

[Service]
ExecStart=/usr/local/bin/client -c /etc/client/client.conf
WorkingDirectory=/usr/local/bin
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
